.circle {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
  }

h3{
    margin-left: 42.5%;
    color: whitesmoke
}

body{
    background-color: black;
}

button{
    margin-left: 45.5%;
    margin-top: 20px;
    margin-bottom: 10px;
}

